# 공연 & 코로나 테이블 구축
***

## Package Import

In [65]:
import pandas as pd
import os
import numpy as np

***
## Load Data

In [66]:
year_19 = os.listdir('C:/Users/kcisa/Untitled Folder/')[5::2]
year_20 = os.listdir('C:/Users/kcisa/Untitled Folder/')[4::2]

In [67]:
addr_df = pd.read_excel('DB검색_공연시설DB(주소 및 편의시설 매핑용 등).xls', header = 3).iloc[1:,:]

***
## Data Wrangling

In [69]:
addr_df.columns = ['No.', '시설명(링크)', '공연장수', '총객석수', '공연장명', '객석수', '시설특성', '개관연도', '지역', '시군구', '주소']

In [70]:
addr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 1 to 1386
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No.      1386 non-null   float64
 1   시설명(링크)  1386 non-null   object
 2   공연장수     1386 non-null   float64
 3   총객석수     1386 non-null   float64
 4   공연장명     1386 non-null   object
 5   객석수      1386 non-null   object
 6   시설특성     1386 non-null   object
 7   개관연도     1386 non-null   float64
 8   지역       1385 non-null   object
 9   시군구      1385 non-null   object
 10  주소       1386 non-null   object
dtypes: float64(4), object(7)
memory usage: 119.2+ KB

In [71]:
for data in range(len(year_19)) :
    globals()['year19_{}'.format(data)] = pd.read_excel(year_19[data], encoding = 'cp949', header = 3)
    globals()['year19_{}'.format(data)]['집계월'] = year_19.index(year_19[data]) + 1

In [72]:
df19 = pd.DataFrame()
for n in range(len(year_19)) :
    df19 = pd.concat([df19, globals()['year19_{}'.format(n)]], axis = 0, ignore_index = True)

In [73]:
for data in range(len(year_20) - 1) :
    globals()['year20_{}'.format(data)] = pd.read_excel(year_20[data], encoding = 'cp949', header = 3)
    globals()['year20_{}'.format(data)]['집계월'] = year_20.index(year_20[data]) + 1

In [74]:
df20 = pd.DataFrame()
for n in range(len(year_20) - 1) :
    df20 = pd.concat([df20, globals()['year20_{}'.format(n)]], axis = 0, ignore_index = True)

In [75]:
df19.columns = ['공연시설명', '내부시설명', '좌석수', '공연건수', '개막편수', '상연횟수', '총 예매수', '집계월']
df19.columns = ['19년' + x if (list(df19.columns).index(x) > 1) & (list(df19.columns).index(x) < 7)  else x for x in list(df19.columns)]
df20.columns = ['공연시설명', '내부시설명', '좌석수', '공연건수', '개막편수', '상연횟수', '총 예매수', '집계월']
df20.columns = ['20년' + x if (list(df20.columns).index(x) > 1) & (list(df20.columns).index(x) < 7) else x for x in list(df20.columns)]

In [76]:
df19 = df19.loc[df19.내부시설명 != '합계']
df19.index = range(df19.shape[0])

In [77]:
df20 = df20.loc[df20.내부시설명 != '합계']
df20.index = range(df20.shape[0])

In [78]:
idx19 = df19.공연시설명[df19.공연시설명.isnull() == 0].index
th = 0
i = 0
j = 1
while True :
    try :
        for n in range(idx19[i], idx19[j]) :
            df19.at[n, '공연시설명'] = df19.공연시설명[df19.공연시설명.isnull() == 0][idx19[th]]
        i += 1
        j += 1
        th += 1
    except :
        break

In [79]:
df19.at[2878:, '공연시설명'] = '부산문화회관'

In [80]:
idx20 = df20.공연시설명[df20.공연시설명.isnull() == 0].index
th = 0
i = 0
j = 1
while True :
    try :
        for n in range(idx20[i], idx20[j]) :
            df20.at[n, '공연시설명'] = df20.공연시설명[df20.공연시설명.isnull() == 0][idx20[th]]
        i += 1
        j += 1
        th += 1
    except :
        break

In [81]:
df20.at[4277, '공연시설명'] = '한국의집'

In [82]:
df19_100 = df19.loc[df19['19년좌석수'] < 100]
df19_100.head()

,공연시설명,내부시설명,19년좌석수,19년공연건수,19년개막편수,19년상연횟수,19년총 예매수,집계월
17,세종문화회관,뜨락(야외공간),0,0,0,0,0,1
31,두산아트센터,로비,0,0,0,0,0,1
41,티오엠씨어터(구. 문화공간필링),연습실A,0,0,0,0,0,1
65,경기아트센터(구. 경기도문화의전당),야외광장,0,0,0,0,0,1
66,경기아트센터(구. 경기도문화의전당),행복한대극장,0,0,0,0,0,1

In [83]:
df20_100 = df20.loc[df20['20년좌석수'] < 100]
df20_100.head()

,공연시설명,내부시설명,20년좌석수,20년공연건수,20년개막편수,20년상연횟수,20년총 예매수,집계월
12,세종문화회관,뜨락(야외공간),0,0,0,0,0,1
30,두산아트센터,로비,0,0,0,0,0,1
43,티오엠씨어터(구. 문화공간필링),연습실A,0,0,0,0,0,1
51,인천문화예술회관,복합문화공간 (카페 엔드앤드),0,0,0,0,0,1
73,경기아트센터(구. 경기도문화의전당),야외광장,0,0,0,0,0,1

In [84]:
tot = pd.merge(df19_100, df20_100, how = 'outer', on = ['공연시설명','내부시설명','집계월'])

In [85]:
tot.fillna(0, inplace = True)

In [86]:
tot['공연건수증감'] = tot['19년공연건수'] - tot['20년공연건수']
tot['개막편수증감'] = tot['19년개막편수'] - tot['20년개막편수']
tot['상연횟수증감'] = tot['19년상연횟수'] - tot['20년상연횟수']
tot['총예매수증감'] = tot['19년총 예매수'] - tot['20년총 예매수']

In [87]:
tot.공연건수증감 = ['-' + str(x) if x > 0 else abs(x) for x in tot.공연건수증감]
tot.개막편수증감 = ['-' + str(x) if x > 0 else abs(x) for x in tot.개막편수증감]
tot.상연횟수증감 = ['-' + str(x) if x > 0 else abs(x) for x in tot.상연횟수증감]
tot.총예매수증감 = ['-' + str(x) if x > 0 else abs(x) for x in tot.총예매수증감]

In [88]:
tot['공연건수변화율'] = tot['20년공연건수'] / tot['19년공연건수'] * 100
tot['개막편수변화율'] = tot['20년개막편수'] / tot['19년개막편수'] * 100
tot['상연횟수변화율'] =  tot['20년상연횟수'] / tot['19년상연횟수'] * 100
tot['총예매수변화율'] = tot['20년총 예매수'] / tot['19년총 예매수'] * 100

In [89]:
tot.fillna(0, inplace = True)

In [90]:
addr = addr_df[['시설명(링크)', '지역', '주소']]

In [91]:
addr.columns = ['공연시설명', '지역', '주소']

In [92]:
tot = pd.merge(tot, addr, how = 'left', on = '공연시설명')

In [93]:
tot.loc[tot.주소.isnull()]

,공연시설명,내부시설명,19년좌석수,19년공연건수,19년개막편수,19년상연횟수,19년총 예매수,집계월,20년좌석수,20년공연건수,...,공연건수증감,개막편수증감,상연횟수증감,총예매수증감,공연건수변화율,개막편수변화율,상연횟수변화율,총예매수변화율,지역,주소
42,서울혁신파크,공유동 다목적홀,0.0,1.0,1.0,4.0,58.0,1,0.0,0.0,...,-1.0,-1.0,-4.0,-58.0,0.0,0.0,0.0,0.0,NaN,NaN
105,이월드,주차장,0.0,1.0,1.0,1.0,8.0,2,0.0,0.0,...,-1.0,-1.0,-1.0,-8.0,0.0,0.0,0.0,0.0,NaN,NaN
249,부산 디자인센터(디자인진흥원),전시실,0.0,1.0,1.0,1.0,5.0,9,0.0,0.0,...,-1.0,-1.0,-1.0,-5.0,0.0,0.0,0.0,0.0,NaN,NaN
282,서울혁신파크,공유동 다목적홀,0.0,3.0,3.0,6.0,80.0,10,0.0,0.0,...,-3.0,-3.0,-6.0,-80.0,0.0,0.0,0.0,0.0,NaN,NaN

In [94]:
tot.at[42, '주소'] = '서울특별시 은평구 녹번동 산1-55'
tot.at[105,'주소'] = '대구광역시 달서구 두류공원로 200'
tot.at[249,'주소'] = '부산광역시 해운대구 우동 센텀동로 57 부산디자인진흥원'
tot.at[282,'주소'] = '서울특별시 은평구 녹번동 산1-55'

tot.at[42, '지역'] = '서울'
tot.at[105,'지역'] = '대구'
tot.at[249,'지역'] = '부산'
tot.at[282,'지역'] = '서울'

In [95]:
tot.to_csv("공연_비교.csv", index = False, encoding = 'cp949')

In [96]:
c19 = pd.read_csv("코로나_19_발생현황__국내__월__20201211145956.csv",encoding = 'cp949')

In [97]:
c19 = c19.iloc[:20, [1,4,9,14,19,24,29,34,39]]

In [98]:
c19 = c19.iloc[3:, :]

In [99]:
c19.columns = ['지역',4,5,6,7,8,9,10,11]

In [100]:
d = pd.DataFrame()
for n in range(0, 17) :
    
    s = pd.DataFrame(c19.iloc[n,])
    s['지역'] = s.iloc[0,0]
    s = s.iloc[1:,:].reset_index()
    s.columns = ['집계월','확진자','지역']
    d = pd.concat([d, s], axis = 0, ignore_index = True)

In [101]:
tot = pd.merge(tot, d, on = ['집계월', '지역'], how = 'left')

In [102]:
tot.fillna(0,inplace = True)

In [103]:
tot.to_csv("공연_비교.csv", index = False, encoding = 'cp949')